<!DOCTYPE html>
<html>
<head>
  <title>EntropiSocial</title>
  <%= stylesheet_link_tag    "entropi_social/application" %>
  <%= javascript_include_tag "entropi_social/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
